h6, aside#menu-moviles nav a { font-family: 'Permanent Marker', cursive; } 
h1, h2, h3, h4, h5 { font-family: 'Barlow', sans-serif; }
p, a, button, form, input, select, option, textarea, em, span, strong, div { font-family: 'Roboto', sans-serif; }

header, main, footer, aside, section, article, figure, nav, div { display:block; }

h1, h2, h3, h4, h5, h6, p, figure { margin: 0 ;} 

body { margin: 0 !important; }
body.body-nav { background: url(../img/04.jpg)no-repeat top center; background-size: cover; }


/* MAquetacion estilo y acabado CSS */
                

/* Header */

header { width: 100%; height: 86px; margin: 0; float: none; position: fixed; top: 0; left: 0; z-index: 99990 ;background: #f00e0e }


    /* main */       
main { width: 100%; height: auto; margin: 86px auto 0 auto; float: none; position: relative; }

/* Banner video Youtube */
main section#banner-video-youtube { width: 100%; height: auto; margin: 0 auto; float: none; position: relative; }
main section#banner-video-youtube iframe { width: 100%; height: 88vh; margin: 0 auto; float: none; position: relative; } 


/* Banner video HTML5 */
main section#banner-video-html5 {  width: 100%; height: auto; margin: 0 auto; float: none; position: relative; background: #000; }
main section#banner-video-html5 video { width: 100%; height: 88vh; margin: 0 auto; float: none; position: relative;}


/* Banner video loop mute HTML5 */
main section#banner-video-html5-loop-muted {  width: 100%; height: auto; margin: 0 auto; float: none; position: relative;background: #000; overflow: hidden; }
main section#banner-video-html5-loop-muted video { width: 100%; height: 87vh; margin: 0 auto; float: none; position: relative; transform: scale(1.35);}


/* Banner slick multimedia */
main section#banner-slick { width: 100%; height: auto; margin: 0 auto; float: none; position: relative; }
main section#banner-slick article.slick-slider {width: 100%; height: 88vh; margin: 0 auto; float: none; position: relative; overflow-x: hidden;} 
main section#banner-slick article.slick-slider figure {width: 100%; height: 88vh; margin: 0; float: left; position: relative;}                 
main section#banner-slick article.slick-slider figure#slick-01 { background:url(../img/pexels-aleksandar-pasaric-2603464.jpg) no-repeat top center; background-size: cover; }
main section#banner-slick article.slick-slider figure#slick-02 { background: url(../img/pexels-francesco-ungaro-1671325.jpg) no-repeat top center; background-size: cover;}
main section#banner-slick article.slick-slider figure#slick-03 { background: url(../img/pexels-guilherme-rossi-1755683.jpg) no-repeat top center; background-size: cover;}
main section#banner-slick article.slick-slider figure#slick-04 { background: #000 }
main section#banner-slick article.slick-slider figure div.contenedor { width: 70%; height: auto; margin: 32vh auto; float: none; position: relative; }
main section#banner-slick article.slick-slider figure div.contenedor h3 { font-size: 3em; line-height: 1em; color: #fff; font-weight: 500; text-align: left; padding: 0 0 15px; }
main section#banner-slick article.slick-slider figure div.contenedor p { font-size: 1.3em; line-height: 1em; color: #fff; font-weight: 300; text-align: left; letter-spacing: 0.04em; padding: 0 0 15px; }
main section#banner-slick article.slick-slider figure div.contenedor a { width: 110px; height: auto; display: block; margin: 0; float: none; background: rgba(221, 221, 221, 0.25); border-radius: 10px; color: #fff; border: solid 2px #fff; text-align: center; transition: all 0.3s ease-in ; font-size: 1.05em; line-height: 1em; text-decoration: none; padding: 15px 0 }
main section#banner-slick article.slick-slider figure div.contenedor a:hover { background: rgba(221, 221, 221, 1); color: #000; border: solid 2px #000; transition: all 0.3s ease-in}
main section#banner-slick article.slick-slider figure iframe { width: 100%; height: 88vh; margin: 0 auto; float: none; position: relative; }

.slick-prev { z-index: 10 !important; left: 30px !important; }
.slick-next { z-index: 11 !important; right: 30px !important; }

nav { width: 1366px; height: 50px; margin: 25px 0; float: none; position: absolute; }
nav h1 { font-size: 3.5em; text-align: center; font-weight: 600; line-height: 1em; letter-spacing: 0.03em; color: #fff; margin: 0; padding: 140px 0 35px 0; }
nav a { font-size: 1.5em; text-align: center; letter-spacing: 0.03em; font-weight: 400; line-height: 1em; text-decoration: none; color: #fff; margin: 0 20px 0 0; padding: 0px 0 0 110px; transition: all .3s ease-in; }
nav a:hover { color: #bfbfbf; transition: all 0.3s ease-in; }             


/* FOOTER */
footer { width: 100%; height: 100px; margin: 0; float: none; position: relative; background: url('../img/footer_bg.png') no-repeat top center #333; background-size: cover; }


/* Zona Responsive Web Design - Media Queries */

/* Rango de Tablets: (max 1199px y min 500px) */
@media only screen and (max-width:1199px){
    header { height: 80px; box-shadow: 0 3px 5px rgba(0 0 0 / 15%); }

    /* Banner video Youtube */
    main section#banner-video-youtube iframe { height: 70vh; } 

    /* Banner video HTML5 */
    main section#banner-video-html5 video { height: 70vh; }

    /* Banner video HTML5 loop mute */
    main section#banner-video-html5-muted video video { height: 70vh; transform: scale(1.45); }

    /* Banner slick multimedia */
    main section#banner-slick article.slick-slider figure div.contenedor { width: 50%;}
}

/* Rango de Smarthphone: (max 499px y min 400px) */
@media only screen and (max-with: 499px){

}

/* Rango de Mini-Smarthphone: (max 399px y min 340px) */
@media only screen and (max-with: 399px){

}



